#.gitignore

# local configuration files
*/local/*
*/local

# local metadata
*/metadata/local.meta

# Compiled Python files
*.pyo
*.pyc

# Backup files
*~

# pycharm
.idea

# Read the doc & Sphinx
docs/_build
docs/_static
docs/_templates

# backups local
backups

# spl
*.spl

# Mac OS X cached files
.DS_Store

# VScode
.vscode
